#page-study #container {
  width: 100%;
  height: 100vh;
}

.page-header {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.page-header .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}
.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .top-bar-container img {
  height: 2.4rem;
}

.page-header .header-content {
  width: 90%;
  margin: 3.2rem auto;
  position: relative;
}
.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

#search-teachers {
  margin-top: 3.2rem;
}
#search-teachers label {
  color: var(--color-text-in-primary);
}
#search-teachers .select-block {
  margin-bottom: 1.4rem;
}
#search-teachers button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 3.2rem;
  transition: background-color 0.2s;
}
#search-teachers button:hover {
  background: var(--color-secondary-dark);
}
.select-block label,
.input-block label {
  font-size: 1.4rem;
  color: var(--color-text-complement);
}
.input-block input,
.select-block select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  background: var(--color-input-background);
  border-radius: 0.8rem;
  border: 1px solid var(--color-line-in-white);
  font: 1.6rem Archivo;
  outline: 0;
  padding: 0 1.6rem;
  transition: background-color 0.2s;
}
.input-block {
  position: relative;
}
.input-block:focus-within::after {
  content: '';
  width: calc(100% - 3.2rem);
  height: 2px;
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}

#page-study main {
  margin: 3.2rem auto;
  width: 90%;
}

.teacher-item {
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
}

.teacher-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}
.teacher-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.teacher-item header div {
  margin-left: 2.4rem;
}
.teacher-item header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-title);
}
.teacher-item header div span {
  font: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}
.teacher-item > p {
  font: 1.6rem;
  line-height: 2.8rem;
  padding: 0 2rem;
}
.teacher-item footer {
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teacher-item footer p {
  font: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}
.teacher-item footer p strong {
  font: 1.6rem;
  color: var(--color-primary);
  display: block;
}

.teacher-item footer button {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  transition: background-color 0.2s;
}
.teacher-item footer button:hover {
  background: var(--color-secondary-dark);
}

@media (min-width: 700px) {
  #page-study #container {
    max-width: 100vw;
  }
  .page-header {
    height: 34rem;
  }
  .page-header .top-bar-container {
    max-width: 110rem;
  }
  .page-header .header-content {
    max-width: 74rem;
    margin: 0 auto;
    flex: 1 1;
    padding-bottom: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-header .header-content strong {
    max-width: 35rem;
  }
  .teacher-item header,
  .teacher-item footer {
    padding: 3.2rem;
  }
  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    position: absolute;
    bottom: -2.8rem;
  }
  #search-teachers .select-block {
    margin-bottom: 0;
  }
  #page-study main {
    padding: 3.2rem 0;
    max-width: 74rem;
    margin: 0 auto;
  }
  .teacher-item > p {
    padding: 0 3.2rem;
  }
  .teacher-item footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }
  .teacher-item footer button {
    width: 24.5rem;
    font: 1.6rem;
    justify-content: center;
  }
  .teacher-item footer button img {
    margin-right: 1.6rem;
  }
}
